body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-header-bg-nav:#000;
  --color-text-nav:#fff;
  --color-text-titulo-main:#fff;
  --color-subtext-main:#F9F4F4;
  --backgraund-btn:#CC2BEB;
  --backgraund-main:#050505;
}

a {
  text-decoration: none;
  
}

li {
  list-style: none;
}

/*Header menu */
.header-bg {
  background-color: var(--color-header-bg-nav);
}

.header {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: flex;
  flex-wrap: wrap;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  
}

.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  color: var(--color-text-nav);
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 178%;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--color-text-nav);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}

@media(max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background: rgba(19, 18, 18, 0.99);
    padding: 12px 16px;
    border-radius: 4px;
  }

  .header-menu a:hover {
    background-color: #2e2e2e;
  }

  .header a::after {
    display: none;
  }
  
  .logo {
    width: 220px;
  }
}

@media(max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}